#page_top {
    height: 750px;
}

#page_about {
  height: 750px;
}

#page_process {
  height: 750px;
}

#page_contact {
  height: 750px;
}

.custom-restricted-width {
    /* To limit the menu width to the content of the menu: */
    display: inline-block;
    /* Or set the width explicitly: */
    /* width: 10em; */
}
